name: build and release

on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]*'
  pull_request:

concurrency:
  group: >
    ${{ github.workflow }} @
    ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-11]
    steps:
      - uses: actions/checkout@v3
      - name: Cargo registry cache
        uses: actions/cache@v2
        env:
          cache-name: cargo-registry
        with:
          path: .cargo/registry
          key: ${{ env.cache-name }}-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-v1
          restore-keys: |
            ${{ env.cache-name }}-${{ runner.os }}-
      - name: Rust build cache
        uses: actions/cache@v2
        env:
          cache-name: rust-build
        with:
          path: target
          key: ${{ env.cache-name }}-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-v1
          restore-keys: |
            ${{ env.cache-name }}-${{ runner.os }}-
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.10.2
        env:
          CIBW_SKIP: >
            *musllinux*
          CIBW_ENVIRONMENT: >
            CARGO_HOME="$PWD/.cargo"
            PATH="$CARGO_HOME/.cargo/bin:$PATH"
          CIBW_ENVIRONMENT_LINUX:
            CARGO_HOME="/project/.cargo"
            PATH="$CARGO_HOME/.cargo/bin:$PATH"
          CIBW_BEFORE_ALL: >
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs |
              sh -s -- -y
          CIBW_BEFORE_ALL_MACOS: >
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs |
              sh -s -- -y;
            rustup target add aarch64-apple-darwin
          CIBW_ARCHS_MACOS: "x86_64 arm64"
      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build sdist
        run: pipx run build --sdist
      - name: Install tool to post-process sdist to make extension optional
        run: pip install 'postprocess-sdist-make-rust-ext-opt>=0.2,<0.3'
      - name: Post-process sdist to make extension optional
        run: postprocess-sdist-make-rust-ext-opt -fO dist dist/*.tar.gz
      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist
      - uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          # testing:
          #repository_url: https://test.pypi.org/legacy/
          #password: ${{ secrets.TEST_PYPI_API_TOKEN }}
